* {
    box-sizing: border-box;
}
body{
background-color: black;
color: aliceblue;
}

.results{
    color: azure;
    text-align: center;
    font-size: 28px;
    border: 2px solid wheat;
}

.results p {
    border: 1px solid gold;
    display: inline-block;
}


button {
    border: 5px solid darkslategray;
    text-align: center;
    margin: 20px;
    font-size: 38px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

button:hover {
    background-color: rgb(237, 201, 201);
    cursor: pointer;
}

.button-display {
    display: flex;
    justify-content: center;
}

h1 {
    color: aliceblue;
    text-align: center;
    font-size: 38px;
    font-family: "Sofia", sans-serif;
    margin-top: 15%;
    text-decoration: underline;
}

h2 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

img {
    width: 100px;
    height: 100px;
}