* {
    box-sizing: border-box;
}
body{
background-color: black;
color: aliceblue;
}

.results{
    color: azure;
    text-align: center;
    font-size: 28px;
    border: 2px solid wheat;
}

.results p {
    border: 1px solid gold;
    display: inline-block;
}


button {
    border: 5px solid darkslategray;
    border-radius: 16px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    font-size: 38px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 10px 15px;
}

button:hover {
    color: brown;
    background-color: lightgray;
    font-weight: bolder;
}

.button-display {
    display: flex;
    justify-content: center;
}

h1 {
    color: aliceblue;
    text-align: center;
    margin-top: 15%;
    text-decoration: underline;
}

h2 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
